.mitigate {
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  gap: 0;
}

.leftContainer {
  min-width: 276px;
  height: 100%;
  gap: 16px;
  border: 1px solid var(--border);
  background-color: var(--box-background);
  padding: 16px;
}

.mitigatedAttacksCount {
  color: var(--green);
  font-weight: 500;
  font-size: 50px;
}
.mitigatedAttacksDesc {
  font-weight: 400;
  font-size: 20px;
}
.mitigatedAttacksDesc span {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  padding: 0 8px;
}

.rightContainer {
  min-width: 55%;
  height: 100%;
  gap: 29px;
  justify-content: flex-start;
  border: 1px solid var(--border);
  background-color: var(--box-background);
  padding: 32px;
  border-left: none;
}

.rightTitle {
  font-weight: 600;
  font-size: 24px;
}

.rightInnerBoxContainer {
  width: 100%;
  height: 186px;
  gap: 0;
}

.rightInner {
  width: 50%;
  height: 100%;
  border: 1px solid var(--border);
  border-left: none;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 18px;
}




