.flowChart {
  width: 50%;
  height: 100%;
  background-color: var(--box-background);
  border: 1px solid var(--border);
  padding: 32px;
}

.titleRow {
  width: 100%;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 24px;
}

.titleRight {
  gap: 10px;
  padding: 5px 16px;
}

.timeSelector {
  border: 1px solid var(--border);
  padding: 6px 16px;
  border-radius: 6px;
  gap: 32px;
  position: relative;
  z-index: 2;
}
.timeTrail {
  width: 69px;
  height: 28px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0px;
  background-color: var(--border);
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.time {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.analysisDropdownContainer {
  position: relative;
  padding: 4px 18px;
  border: 1px solid var(--border);
  gap: 8px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.selectedDropdownText {
  font-weight: 500;
  font-size: 14px;
}

.dropdownContent {
  width: 100%;
  height: 68px;
  border: 1px solid var(--border);
  border-radius: 6px;
  background-color: var(--dark-gray);
  position: absolute;
  transition: all 0.3s;
  overflow: hidden;
  top: 40px;
  left: 0;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 18px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--border);
}

.dropdownContentItem {
  width: 100%;
  font-weight: 400;
  font-size: 10px;
}

@media (max-width: 1600px) {
  .flowChart {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .timeSelector {
    gap: 8px;
  }
  .titleRow {
    flex-direction: column;
  }
  .titleRight {
    width: 100%;
    justify-content: space-between;
  }
  .timeTrail {
    width: 45px;
  }
}
