:root {
  --background: #02071d;
  --box-background: #091028;
  --foreground: #ffffff;
  --green: #78ff97;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  height: 100vh;
}

.flex-r {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

body {
  color: var(--foreground);
  background: linear-gradient(to right, var(--background), #030e27);
  font-family: Ravi, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
@media (min-width: 900px) {
  body {
    flex-direction: row;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
