.home {
  margin-top: 10px;
  gap: 16px;
}

.firstRow {
  width: 100%;
  height: 310px;
  justify-content: flex-start;
  gap: 16px;
}

.secondRow {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.timeSelector {
  border: 1px solid var(--border);
}

@media (max-width: 1600px) {
  .firstRow,
  .secondRow {
    height: 100%;
    flex-direction: column;
  }
}
