.navbar {
  min-width: 100%;
  background-color: var(--box-background);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 32px 41px;
  position: fixed;
  z-index: 1000;
  bottom: 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.active {
  color: var(--green);
}

@media (min-width: 900px) {
  .navbar {
    min-width: 120px;
    height: calc(100vh + 110px);
    gap: 108px;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
  }
  .links {
    flex-direction: column;
    justify-content: flex-start;
  }
}
